<style>

   .main {
      box-sizing: border-box;
      display: flex;
      justify-content: top;
      align-items: center;
      /* border: 3px solid green; */
   }

</style>

<div *ngIf="!error" >
   <div *ngIf="loading">
   loading...
   </div>

   <div *ngIf="!loading">
      
      <mat-card>
         <mat-card-title>{{ response[index].result.regionName }}</mat-card-title>
         <mat-card-content>
            RES: {{ response[index].result.gameScore[0] }} <br />
            ENL: {{ response[index].result.gameScore[1] }} <br />

                  
            <div id="chart">
               <apx-chart 
                  [series]="chartOptions[index].series"
                  [chart]="chartOptions[index].chart"
                  [labels]="chartOptions[index].labels"
                  [colors]="chartOptions[index].colors"
                  [responsive]="chartOptions[index].responsive"
                  [dataLabels]="chartOptions[index].dataLabels"
                  [legend]="chartOptions[index].legend"
                  [theme]="chartOptions[index].theme">
               </apx-chart>

               
            History
            <apx-chart 
               [series]="chartOptionsMixed[index].series"
               [chart]="chartOptionsMixed[index].chart"
               [colors]="chartOptionsMixed[index].colors"
               [dataLabels]="chartOptionsMixed[index].dataLabels"
               [stroke]="chartOptionsMixed[index].stroke"
               [xaxis]="chartOptionsMixed[index].xaxis"
               [theme]="chartOptionsMixed[index].theme">
            </apx-chart>
               
            </div>




         </mat-card-content>

         <mat-card-actions>
            <button (click)="switchZone(index)" mat-raised-button >{{ getNextZoneName(index) }}</button>
         </mat-card-actions>
      
      </mat-card>



   </div>
</div>

<div *ngIf="error" class="main" >
   Fehler beim laden der Daten.
</div>



<router-outlet></router-outlet>
